:root{
  
  --dark-black-color:#131212;
  --light-black-color:#202020;
  --red-color:#e62727;
  --gray-text-color:hsla(0,0%,100%,.2);
  --light-gray-color:rgb(131, 131, 131);
  --gray-color:gray; 
  /* --gainboro-color:gainsboro; */
  --blue-hover-color:#4796f0;
  --primary-black-color:rgb(43, 41, 41);

  --bg-color:#edf2f6;
  --white-color:#FFFFFF;
  --text-color:rgb(29, 155, 240);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* height: 100%;
  width: 100%; */
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 60%;
  }
}