:root{
  --blue-hover-color:#147cf3;
  --black-color:#131212;
  --light-black-color:#202020;
  --bg-color:  #1A202C;
  --white-color:#FFFFFF;
  --text-color:rgb(29, 155, 240);
  --light-gray-color:rgb(92, 88, 88);
  --gray-color:gray;
  --border-radius:1rem ;
  --gainsboro-color:gainsboro;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 60%;
  }
}